* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    display: flex;
    justify-content: center;
    background-color: azure;
    align-items: center;
    grid-gap: 15px;
}

.logo {
    width: 100px;
}

.main {
    width: 50%;
    margin: 5% auto;
    text-align: center;
}

.list-parent {
    margin-top: 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
}

.important {
    color: red;
    font-size: 20px;
}